/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #f2f2f2;
    transition: scroll ease 0.25s;
}

h3{
    font-weight: 600;
}
/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #333;
    color: #fff;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.search-bar {
    display: flex;
    height: 40px;
    align-items: center;
}

.search-bar input {
    padding: 10px 15px;
    width: 250px;
    border: none;
    z-index: 2;
    border-radius: 0;
}

.search-button {
    border: none;
    color: #fff;
    display: flex;
    align-items: center;
    min-height: 100%;
    padding: 5px 10px;
    background-color: #3b3b3b;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    cursor: pointer;
}

.search-button:hover{
    background-color: #4e4e4e;
}

.button-group button {
    margin-left: 10px;
    padding: 8px 15px;
    border: none;
    border-radius: 0;
    cursor: pointer;
}

.button-group button:hover{
    background-color: #dbdbdb;
}

.gotop{
    padding: 5px 15px;
    cursor: pointer;
    background-color: rgb(255, 255, 94);
    border: none;
}

.gotop:hover{
    background-color: rgb(255, 255, 145);
}

/* Slideshow container */
.slideshow-container {
    z-index: 1;
    position: relative;
    width: 100%;
    /* max-height: 500px; */
    overflow: hidden;
}

.mySlides {
    align-items: center;
    max-height: 500px;
}

.mySlides img{
    width: 100%;
}


/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 0.5s;
}

.card h3{
    margin-bottom: 10px;
}

.categories{
    padding: 0 50px;
    margin-top: 40px;
    text-align: center;
}
.cat-card-container{
    display: flex;
}

.cat-card{
    margin: 30px 40px 30px 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.cat-card p{
    margin-top: 10px;
}

.cat-card-img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
}

.cat-card-img img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.footer{
    height: 200px;
    display: flex;
    flex-direction: column ;
    justify-content: space-evenly;
    align-items: center;
    background-color: #333;
    color: white;
}

.footer p{
    font-size: 0.8rem;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.cards-container {
    display: flex;
    padding: 0 40px;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.123) 0px 3px 8px;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.prod-cc{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    justify-content: space-evenly;
}

.prod-card{
    height: 550px;
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 10px;
    margin-top: 30px;
    padding: 15px;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.prod-card img{
    max-width: 60%;
    max-height: 60%;
    margin: auto;
}

.prod-title{
    font-weight: 400;
}

.company-name{
    color: #7b7b7b;
    font-weight: 900;
    font-size: 0.9rem;
    margin-bottom: 5px;
}

h3{
    font-size: 1rem;
    margin-bottom: 15px;
}


.add-to-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 800;
    border: none;
    margin-top: 10px;
    background-color: #1d1d1d;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;
    color: #fff;
    padding: 10px 20px;
}

.add-to-cart:hover{
    background-color: #333;
    box-shadow: rgba(0, 0, 0, 0.267) 0px 4px 12px;
}

.add-to-cart span{
    font-size: 1rem;
    font-weight: 600;
    margin-left: 5px;
}

.price{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 900;
}

.price span{
    font-size: 1rem;
}

.results-top{
    margin: 20px 0 0 20px;
}

.results-top h2{
    font-size: 1rem;
}
.results-top p{
    font-size: 0.8rem;
    color: #333;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}